.leaves {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}
.leaves .leaf {
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  transition: 2s;
}
.leaves .leaf1 {
  background-image: url("../images/leaf1.png");
}
.leaves .leaf2 {
  background-image: url("../images/leaf2.png");
}
.leaves .leaf3 {
  background-image: url("../images/leaf3.png");
}
.leaves .leaf4 {
  background-image: url("../images/leaf4.png");
}
.leaves .leaf5 {
  background-image: url("../images/leaf4.png");
}

.spriteLeaves .leaf1 {
  top: 15%;
  left: 5%;
  width: 200px;
  height: 250px;
  transform: rotate(-30deg);
}
.spriteLeaves .leaf2 {
  top: 65%;
  left: 25%;
  width: 150px;
  height: 250px;
  transform: rotate(80deg);
}
.spriteLeaves .leaf3 {
  top: 15%;
  left: 75%;
  width: 150px;
  height: 150px;
  transform: rotate(-60deg);
}
.spriteLeaves .leaf4 {
  top: 55%;
  left: 80%;
  width: 250px;
  height: 250px;
  transform: rotate(30deg);
  z-index: -1;
}
.spriteLeaves .leaf5 {
  top: 15%;
  left: 100%;
  width: 50px;
  height: 50px;
  transform: rotate(206deg);
}

.liptonLeaves .leaf1 {
  top: 10%;
  left: 25%;
  width: 150px;
  height: 150px;
  transform: rotate(206deg);
}
.liptonLeaves .leaf2 {
  top: 60%;
  left: 85%;
  width: 250px;
  height: 550px;
  transform: rotate(-76deg);
}
.liptonLeaves .leaf3 {
  top: 85%;
  left: 15%;
  width: 250px;
  height: 250px;
  transform: rotate(16deg);
}
.liptonLeaves .leaf4 {
  top: 5%;
  left: 80%;
  width: 250px;
  height: 250px;
  transform: rotate(-206deg);
}
.liptonLeaves .leaf5 {
  top: 15%;
  left: 100%;
  width: 50px;
  height: 50px;
  transform: rotate(-36deg);
}

.fantaLeaves .leaf1 {
  top: 85%;
  left: 65%;
  width: 250px;
  height: 150px;
  transform: rotate(-416deg);
}
.fantaLeaves .leaf2 {
  top: 60%;
  left: 5%;
  width: 150px;
  height: 250px;
  transform: rotate(456deg);
}
.fantaLeaves .leaf3 {
  top: 15%;
  left: 5%;
  width: 250px;
  height: 250px;
  transform: rotate(0);
}
.fantaLeaves .leaf4 {
  top: 155%;
  left: 70%;
  width: 350px;
  height: 250px;
}
.fantaLeaves .leaf5 {
  top: 15%;
  left: 70%;
  width: 150px;
  height: 150px;
  transform: rotate(-36deg);
}

.infoPage .leaf1 {
  top: -10%;
  left: 25%;
  width: 250px;
  height: 150px;
  transform: rotate(36deg);
}
.infoPage .leaf2 {
  top: 25%;
  left: -6%;
  width: 100px;
  height: 150px;
  transform: rotate(196deg);
}
.infoPage .leaf3 {
  top: 65%;
  left: -5%;
  width: 200px;
  height: 200px;
  transform: rotate(-90deg);
}
.infoPage .leaf4 {
  top: 155%;
  left: 70%;
  width: 350px;
  height: 250px;
}
.infoPage .leaf5 {
  top: 15%;
  left: 170%;
  width: 150px;
  height: 150px;
  transform: rotate(-36deg);
}

.lastPage .leaf1 {
  top: 90%;
  left: -10%;
  width: 250px;
  height: 150px;
  transform: rotate(-50deg);
}
.lastPage .leaf2 {
  top: -10%;
  left: 16%;
  width: 100px;
  height: 150px;
  transform: rotate(120deg);
}
.lastPage .leaf3 {
  top: -10%;
  left: 90%;
  width: 200px;
  height: 200px;
  transform: rotate(180deg);
}
.lastPage .leaf4 {
  top: 155%;
  left: 70%;
  width: 350px;
  height: 250px;
}
.lastPage .leaf5 {
  top: 15%;
  left: 170%;
  width: 150px;
  height: 150px;
  transform: rotate(-36deg);
}/*# sourceMappingURL=leaves.css.map */