*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body{
    max-width: 100vw;
    overflow: hidden;
}
@mixin sBG{
    background-image: linear-gradient(to bottom right, rgb(17, 175, 2),rgb(17, 175, 2),rgb(9, 100, 1));
}
@mixin fBG{
    background-image: linear-gradient(to bottom right,  rgb(234, 117, 0),rgb(234, 117, 0),rgb(126, 64, 2));
}
@mixin lBG{
    background-image: linear-gradient(to bottom right, rgb(241, 209, 0), rgb(241, 209, 0), rgb(135, 117, 1));
}


nav{
    z-index: 1;
    position: sticky;
    left: 0;
    right: 0;
    height: 15vh;
    width: 100vw;
    display: flex;
    .left, .right, .center{
        display: flex;
        justify-content: center;
        ul{
            li{
                padding-top: 2rem;
                margin: 0 2rem;
                list-style: none;
                float: left;
                font-size: 4vh;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    .center{
        width: 50vw;
    }
    .left, .right{
        width: 25vw;

    }
}
.pagination{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    position: sticky;
    padding-top: 70vh;
    left: 0;
    right: 0;
    gap: 2rem;
    z-index: 9;

    a{
        i{
            color: white;
            &:hover{
                color: gray;
            }
        }
    }
}

main{
    height: 200vh;
    width: 300vw;
    .pages{
        position: absolute;
        top: 0;
        height: 300vh;
        width: 100vw;
        .menuPages{
            height: 100vh;
            display: flex;
            width: 100vw;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            p{
                font-size: 40vh;
                z-index: 5;
                color: white;
            }
            .can,.sideCanL,.sideCanR{
                transition: 1.5s;
                z-index: 6;
                position: absolute;
                background-size:  auto 100%;
                background-repeat: no-repeat;
            }
            
            .fruit1,.sideFruitL,.sideFruitR{
                transition: 2s;
                position: absolute;
                background-size: 100% auto;
                background-repeat: no-repeat;
            }
        
            .fruit2{
                transition: 1.5s;
                z-index: 6;
                position: absolute;
                background-size: 100% auto;
                background-repeat: no-repeat;
               
            }
        }
        .mainPages{
            height: 100vh;
            width: 100vw;
            .left{
                width: 40vw;
                height: 100vh;
                position: absolute;
                display: flex;
                justify-content: center;
                .circle{
                    margin-top: 50vh ;
                    width: 25vw;
                    height: 20vw;
                    background-color: rgb(0, 0, 0);
                    opacity: .5;
                    border-radius: 50%;
                }
            }
            .right{
                margin-left: 45vw;
                position: absolute;
                width: 50vw;
                height: 100vh;
                padding: 10vh 0;
                z-index: 999;


                .title{
                    font-size: 20vh;
                    color: white;
                }
                p{
                    text-indent: 3rem;
                    font-size: 1.5rem;
                    color: white;
                }
                .button{
                    margin-top: 10vh;
                    margin-left: 10vh;
                    font-size: 2rem;
                    border-radius: 1rem;
                    padding: .5rem 1rem;
                    mix-blend-mode: lighten;
                    background-color: white;
                    width: 10rem;
                    &:hover{
                        cursor: pointer;
                        color: white;
                        background-color: transparent;
                        border: .1rem solid white;
                    }
                }
            }
        }
        .lastPages{
            display: flex;
            justify-content: space-evenly;
            width: 100vw;
            height: 100vh;

            .lCard{
                @include lBG();
              
            }
            .sCard{
                @include sBG();
              
            }
            .fCard{
                @include fBG();
           
            }
            .card{
                margin-top: 20vh;
                width: 20vw;
                height: 70vh;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: .2rem .2rem rgb(59, 59, 59) ;
                .title{
                    font-size: 4rem;
                    margin-top: 45vh;
                    margin-bottom: 5vh;
                    color: white;
                }
                .button{
                    border-radius: 1rem;
                    width: auto;
                    height: 2rem;
                    background-color: white;
                    text-align: center;
                    padding:  .5rem 1rem;
                    mix-blend-mode: lighten;
                    z-index: 99;

                    &:hover{
                        cursor: pointer;
                        color: white;
                        background-color: transparent;
                        border: .1rem solid white;
                    }
                }
            }
        }
    }
}


// page background

.sprite{
    .menuPages{
        @include sBG();
        .can{
            background-image: url('../images/sprite.png');
        }
        .fruit1{
            background-image: url('../images/lemon1.png');
        }
        .fruit2{
            background-image: url('../images/lemon2.png');
        }
        .sideCanR{
            background-image: url('../images/lipton.png');
        }
        .sideCanL{
            background-image: url('../images/fanta.png');
        }
        .sideFruitR{
            background-image: url('../images/peach1.png');
        }
        .sideFruitL{
            background-image: url('../images/orange1.png');
        }
    }
    .mainPages,.lastPages{
        background-color: rgb(9, 100, 1);
    }
}

.lipton{
    left: 100vw;
    .menuPages{
        @include lBG();
        .can{
            background-image: url('../images/lipton.png');
        }
        .fruit1{
            background-image: url('../images/peach1.png');
        }
        .fruit2{
            background-image: url('../images/peach2.png');
        }

        .sideCanR{
            background-image: url('../images/sprite.png');
        }
        .sideCanL{
            background-image: url('../images/fanta.png');
        }
        .sideFruitR{
            background-image: url('../images/lemon1.png');
        }
        .sideFruitL{
            background-image: url('../images/orange1.png');
        }
    }
    .mainPages,.lastPages{
        background-color: rgb(135, 117, 1);
    }
}

.fanta{
    left: 200vw;
    .menuPages{
        @include fBG();
        .can{
            background-image: url('../images/fanta.png');
        }
        .fruit1{
            background-image: url('../images/orange1.png');
        }
        .fruit2{
            background-image: url('../images/orange2.png');
        }
        .sideCanR{
            background-image: url('../images/lipton.png');
        }
        .sideCanL{
            background-image: url('../images/sprite.png');
        }
        .sideFruitR{
            background-image: url('../images/peach1.png');
        }
        .sideFruitL{
            background-image: url('../images/lemon1.png');
        }
    }
    .mainPages,.lastPages{
        background-color: rgb(126, 64, 2);
    }
}




// scroll snap

#pages{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    .menuPages{
        scroll-snap-align: start none;

    }
    .mainPages{
        scroll-snap-align: start none;

    }
    .lastPages{
        scroll-snap-align: start none;

    }
}





main{
    .pages{
        .view1{
            .can{
                width:18vw;
                height: 60vh;
                left: 40vw;
                top: 15vh;
            }
            .fruit1{
                width: 15vw;
                height: 15vw;
                left: 30vw;
                top: 20vh;

            }
            .fruit2{
                width: 25vw;
                height: 25vw;
                right:30vw;
                top: 55vh;
            }
        }
        .view2{
            .can{
                width:18vw;
                height: 60vh;
                left: 13vw;
                top: 120vh;
            }
            .fruit1{
                width: 25vw;
                height: 25vw;
                left: 18vw;
                top: 140vh;
                z-index: 5;
            }
            .fruit2{
                width: 25vw;
                height: 25vw;
                right: 5vw;
                top: 170vh;
            }
            .sideFruitL{
                width: 0;
                height: 0;
                left: -25vw;
                top: 210vh;
            }
            .sideFruitR{
                width: 0;
                height: 0;
                left: 145vw;
                top: 210vh;
            }
            .sideCanL{
                width: 0;
                height: 0;
                left: -25vw;
                top: 310vh;
            }
            .sideCanR{
                width: 0;
                height: 0;
                left: 145vw;
                top: 310vh;
            }
        }
        .view3{
            .can{
                width:15vw;
                height: 50vh;
                left: 43vw;
                top: 215vh;
            }
            .sideCanL{
                width:15vw;
                height: 50vh;
                left: 13vw;
                top: 215vh;
            }
            .sideCanR{
                width:15vw;
                height: 50vh;
                left: 73vw;
                top: 215vh;
            }
            .fruit1{
                width: 25vw;
                height: 25vw;
                left: 37vw;
                top: 210vh;
            }
            .sideFruitL{
                width: 25vw;
                height: 25vw;
                left: 7vw;
                top: 210vh;
            }
            .sideFruitR{
                width: 25vw;
                height: 25vw;
                left: 67vw;
                top: 210vh;
            }
            .fruit2{
                width: 10vw;
                height: 10vw;
                right: 35vw;
                top: 60vh;
            }
        }
    }
}



